.order_container{
    height: 70px;
}
.order_status{
    display: none;
}
.ordered{
    color: green;
    font-size: 2em;
    border: solid 1px green;
    text-align: center;
    max-width: 180px;
    -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        margin-left: 30%;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.ordered_incart{
    font-size: 1em;
}
.product_cart_message{
    text-align: right;
    font-style: italic;
    display: inline-block;
    margin-right: 2%;
    color: darkgreen;
}
@media only screen and (max-width: 420px){
    .product_cart_message{
        display: block;
    }
}
._search_link{
    margin-left: 1%;
}
._registration-success{
    text-align: center;
    font-size: 20px;
    color: green;
}
._registration-false{
    text-align: center;
    font-size: 2em;
    color: red;

}
._registration-form ul li{
    color: red;
}

.basket {
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  margin-bottom: 1%;
  padding-bottom: 2%;

}
._basket_conteiner{
    width: 100%;
    margin: 0 auto;
    height: 120px;
}
 @media only screen and (max-width: 550px){
     ._basket_conteiner{
         height: 80px;
     }
 }
 @media only screen and (max-width: 320px){
     ._basket_conteiner{
         height: 60px;
     }
 }

._basket_title{
    padding-left: 2%;
}
._exemple_container{
    background-color: white;
    width: 18%;
    float: left;
    height: 100%;
    margin-left: 1%;
}
._exemple_container div{
    padding-top: 30%;
    padding-bottom: : 30%;
    text-align: center;
}

@media only screen and (max-width: 420px){
    .price{
        font-size: 10px;
    }
}



  @media only screen and (max-width: 550px) {
    .basket {
      padding-top: 2%;
      margin: 2% auto; } }

@media only screen and (max-width: 550px) {
  .basket_title {
    display: none; } }
._cart_title div{
    padding-top: 1%;
    font-size: 12px;
}
@media only screen and (max-width: 550px){
    ._cart_title div{
        font-size: 0.6em;
    }
}
._title_container{
    height: 3em;
}
.basket_exemple {
  background-color: white;

  }
  @media only screen and (max-width: 550px) {
    .basket_exemple {
      font-size: 12px;
      display: block;
      width: 50%;
      margin: 0 auto; } }
  .basket_exemple p {
    padding: 2%;
    font-size: 12px;
    text-align:left;}
    .basket_exemple p input {
      max-width: 60%;
      margin-left: 5%;}
  ._exemple_container img {
      max-width: 100%;
      height: auto;
  }
    @media only screen and (max-width: 550px) {
      ._exemple_container img {
        display: block;
        margin: 0 auto;} }

.basket_result {
  text-align: right;
 }
 .basket_result div{
     padding-top: 2%;
     display: inline-block;
     margin-right: 5%;
 }
 .basket_result div p{
     color: green;
     font-size: 2em;
 }
  .basket_result .basket_exemple {
    width: 22%;
    background-color: whitesmoke; }
